<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% feed_meta %}
    {% seo %}
</head>
<body>
<header>
    <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
    <nav>
        <a href="{{ '/' | relative_url }}">Home</a> |
        <a href="{{ '/about' | relative_url }}">About</a>
    </nav>
    <br>
    <a href="{{ '/dsa' | relative_url }}">DSA</a> |
    <a href="{{ '/random-tech' | relative_url }}">Random Tech</a> |
    <a href="{{ '/design-patterns' | relative_url }}">Design Patterns</a>
</header>

<main>
    {{ content }}
</main>

<footer>
    <p>&copy; {{ 'now' | date: "%Y" }}</p>
</footer>
</body>
</html>